*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #343C56;
}


.container{
    width: 1200px;
    max-width: 100%;
    margin: 46px auto;
}


ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul li{
    background-color: #FF0101;
    color: white;
    width: 200px;
    text-align: center;
    padding: 14px 0;
    border-radius: 30px;
}

.main2{
    display: flex;
    justify-content: space-between;
    margin: 68px 0;
}

.main3{
    background-color: black;
    color: white;
    border-radius: 40px;
    width: 264px;
    margin: 0 auto;
    text-align: center;
    padding: 44px 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
}

.red{
    width: 400px;
    height: 200px;
    background-color: #EB1616;
    border-radius: 50px;
    padding: 45px 50px;
}

.red p{
    background-color: #61FF00;
    padding: 20px 28px;
}

.red .p{
    padding: 15px 19px;
}

.main4{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
